{% extends 'base.html.twig' %}


{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque autem culpa cupiditate dolorum ducimus
        ea eaque error ipsam laudantium minima, neque quam sapiente sit, veritatis! Deserunt ducimus odit pariatur?</p>
{% endblock %}
